h1 {
    background-color: #43144c;
    color: white;
    margin-top: 0;
    padding: 10px;
    margin: 0;
    text-decoration: none;
}

h2 {
    background-color: #671E75;
    color: white;
    margin: 0;
    margin-top: 0px;
    padding: 5px;
    padding-left: 10px;
}


img {
    max-width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 10px;
}

.footer {
    background-color: #43144c;
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    overflow: hidden;
}

.BodyText {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    margin-bottom: 75px;
}

.BodyText li {
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Helvetica neue", Helvetica, Arial, serif;
    font-weight: 500;
}

.NextPages {
  background-color: #671E75;
  width: 100%;
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
}

.NextPages li {
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.NextPages li a {
  color: white;
  padding: 15px;
  list-style: none;
  text-align: center;
}

.I1 {
      margin-left: 20px;
  }

.I2 {
      margin-left: 40px;
  }

.I3 {
      margin-left: 60px;
  }

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #671E75;
    background-color: (#671E75 0.9);
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: left;
    margin-left: 50px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    bottom: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
